<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags para establecer el conjunto de caracteres y la vista del dispositivo --><!-- Meta tags para establecer el conjunto de caracteres y la vista del dispositivo -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Conexión anticipada para optimizar la carga de fuentes -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Carga de la fuente Lumanosimo desde Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <!-- Estilos de Bootstrap -->
        <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="./public/styles/style.css">
    <!-- Icono del sitio web -->
    <link rel="shortcut icon" href="./public/img/logoHeader-removebg-preview.png" type="image/x-icon">
    <!-- Título de la página -->
    <title>Home</title>
</head>

<body>
    <div id="app">        
        <!-- Sección del encabezado -->
        <header class="b-gradient">
                <nav class="navbar navbar-expand-lg bg-gradient">
                    <div class="container-fluid">
                        <a class="navbar-brand col-2" href="#"><img src="./public/img/logoHeader-removebg-preview.png"
                            alt="" class="branch object-fit-contain"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon bg-light"></span>
                        </button>
    
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">
                                <!-- Enlaces de navegación -->
                                <li class="nav-item">
                                    <a class="nav-link disabled text-light" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="./public/views/houses.html">Houses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="./public/views/characters.html">Characters</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="./public/views/spells.html">Spells</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="./public/views/stats.html">Stats</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="./public/views/shop.html">Shop</a>
                                </li>
                            <li>
                                <button type="button" @click="clickCart()" class="btn text-light position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2">
                                        </path>
                                    </svg>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">{{quantityProductSaved}}</span>
                                </button>
                            </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class=" img-back">
            <div v-if="btnRemove">
                <div class="b-gradient d-flex flex-column justify-content-evenly col-8 z-1 position-absolute top-50 start-50 translate-middle h-card-buy">
                    <div class="d-flex justify-content-end">
                        <button @click="closeremuve()" class="fs-1 mr-3 fw-bold text-warning harryP bg-transparent border-0">x</button>
                    </div>
                    <div>
                        <h4 class="text-light text-center">{{deleteProduct.length > 1 ? 'Are you sure you want to delete the following products?': 'Are you sure you want to delete the following product?'}}</h4>
                    </div>
                    <div>
                        <p class="text-center text-light">Detail of the removal</p>
                    </div>
                    <div class="buy-scroll">
                        <div v-for="(product, index) in deleteProduct" :key="index">
                            <div class="d-flex justify-content-around my-4 h-product-buy">
                                <img :src="product.img" class="col-2 object-fit-contain" alt="">
                                <div class="d-flex flex-row align-items-center col-6 justify-content-between">
                                    <p class="m-0 text-light">{{product.name}}</p>
                                    <p class="m-0 text-light">{{product.discount ? (product.price * (1 -
                                        (product.discount /
                                        100))).toFixed(1) : product.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <div v-if="deleteProduct.length > 1" class="pe-4">
                            <button type="button" @click="emptyProduct ()" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-file-x" viewBox="0 0 16 16">
                                    <path
                                        d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708">
                                    </path>
                                    <path
                                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1">
                                    </path>
                                </svg>
                                empty
                            </button>
                        </div>
                        <div v-if="deleteProduct.length == 1" class="pe-4">
                            <button type="button" @click="removeProduct(deleteProduct[0])" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                                    <path
                                        d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708">
                                    </path>
                                    <path
                                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1">
                                    </path>
                                </svg>
                                remove
                            </button>
                        </div>
    
                        
    
                        <button type="button" @click="closeremuve()" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bag-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z">
                                </path>
                            </svg>
                            cancel
                        </button>
                    </div>
                </div>
            </div>
    <!-- modal de comprar los productos-->
    <div v-if="btnBuy">
        <div class="b-gradient d-flex flex-column justify-content-evenly col-8 z-1 position-absolute top-50 start-50 translate-middle h-card-buy">
            <div class="d-flex justify-content-end">
                <button @click="closeBuy()" class="fs-1 mr-3 fw-bold text-warning harryP bg-transparent border-0">x</button>
            </div>
            <div>
                <h4 class="text-light text-center">Thank you for shopping in our store,</h4>
            </div>
            <div>
                <p class="text-center text-light">Purchase details</p>
            </div>
            <div class="buy-scroll">
                <div v-for="(product, index) in bkProductSaved" :key="index">
                    <div class="d-flex justify-content-around my-4 h-product-buy">
                        <img :src="product.img" class="col-2 object-fit-contain" alt="">
                        <div class="d-flex flex-row align-items-center col-6 justify-content-between">
                            <p class="m-0 text-light">{{product.name}}</p>
                            <p class="m-0 text-light">{{product.discount ? (product.price * (1 -
                                (product.discount /
                                100))).toFixed(1) : product.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="text-light">Total paid:</p>
                <P class="text-light">{{BktotalPrice.toFixed(1)}}</P>
            </div>
        </div>
    </div>
    <!-- carrito de compra -->
    <div v-if="clickCarts"
        class="z-1 min-h-card col-11 col-md-7 col-lg-5 mostrar d-flex flex-row-reverse flex-lg-row align-items-center cont-animation justify-content-between">
        <img class="col-2"
            src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmVwd2R4dTloZDlwcWt5eWhhNXFudWM1NXFsY3VkcWQ0cHdrbzBlOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/YSfGv0WySZm3Jesbn6/giphy.webp"
            alt="">
        <!-- contenedor de productos -->
        <div class="min-h-card justify-content-around b-gradient col-11 d-flex align-items-center">
            <!-- mostrar mensaje en caso de no tener productos guardados -->
            <div class="col-12 p-4" v-if="ProductSaved.length == 0">
                <div>
                 <p class="m-0 ps-2 text-light">There are no products saved, <a href="./shop.html">select here</a> to go to the store</p>
                </div>
            </div>
            <!-- mostrar los productos guardados -->
            <div class="d-flex flex-column col-11">
                <div v-if="ProductSaved.length > 0">
                    <div v-for="(product, index) in ProductSaved" :key="index"
                        class="b-gradient my-3 d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-between">
                            <img :src="product.img" class="col-2 object-fit-contain" alt="">
                            <div class="d-flex flex-row align-items-center col-6 justify-content-between">
                                <p class="m-0 text-light">{{product.name}}</p>
                                <p class="m-0 text-light">{{product.discount ? (product.price * (1 -
                                    (product.discount /
                                    100))).toFixed(1) : product.price}}</p>
                            </div>
                            <button type="button" @click="deleteProducts([product])"
                                class="btn col-3 btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708">
                                    </path>
                                </svg>
                                remove
                            </button>
                        </div>
                    </div>
                    <div class="border-top  border-2 d-flex justify-content-around">
                        <p class="text-light">Total</p>
                        <p class="text-light">{{totalPrice.toFixed(1)}}</p>
                    </div>
                    <!-- botones -->
                    <div class="d-flex justify-content-around pb-4">
                        <button type="button" @click=" buyProduct()" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bag-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z">
                                </path>
                            </svg>
                            buy
                        </button>
                        <button type="button" @click="deleteProducts()" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-x" viewBox="0 0 16 16">
                                <path
                                    d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708">
                                </path>
                                <path
                                    d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1">
                                </path>
                            </svg>
                            empty
                        </button>
    
                    </div>
    
                </div>
            </div>
        </div>
    
    
    </div>
    <!-- titulos de la paguina home -->
            <div class="ehome">
                <section class="etitle">
                    <img src="./public/img/logoFoter-removebg-preview.png" alt="Harry Poter">
                </section>
                <p>{{ homeText }}</p>
            </div>
            <div>
                <h2 class="harryP text-warning text-center p-5 fs-1"> Hogwarts School of Witchcraft and Wizardry is something very emblematic in Harry Potter, know its founders and its members.</h2>
            </div>
            <!-- fundadores y descripciones de cada uno -->
            <div class="text-warning funders">
                <div class="d-flex align-items-center m-5">
                    <img src="./public/img/GodricGryffindor.jpg" alt="GodricGryffindor">
                    <p class="p-2 fs-4">{{ founders.GodricGryffindor.description }}</p>
                </div>
                <div class="d-flex align-items-center flex-row-reverse m-5">
                    <img src="./public/img/SalazarSlytherin.jpg" alt="SalazarSlytherin">
                    <p class="fs-5">{{ founders.SalazarSlytherin.description }}</p>
                </div>
                <div class="d-flex align-items-center m-5 fs-4">
                    <img src="./public/img/RowenaRavenclaw.jpg" alt="RowenaRavenclaw">
                    <p class="p-2">{{ founders.RowenaRavenclaw.description }}</p>
                </div>
                <div class="d-flex align-items-center flex-row-reverse m-5">
                    <img src="./public/img/HelgaHufflepuff.jpg" alt="HelgaHufflepuff">
                    <p class="fs-4">{{ founders.HelgaHufflepuff.description }}</p>
                </div>
            </div> 
            <!-- escudos y mensaje para insitar al cliente a darle click a los escudos de las casas -->
            <div class="text-warning text-center p-3 harryP"><h1>Click on one of the shields and learn more about the world of Harry Porter!</h1></div>
            <div class="linkhouses p-3">
                <a href="./public/views/houses.html?house=Gryffindor">
                    <img src="./public/img/Gryffindor.png" alt="Gryffindor" />
                </a>
                <a href="./public/views/houses.html?house=Slytherin">
                    <img src="./public/img/SLYTHE-removebg-preview.png" alt="Slytherin" />
                </a> 
                <a href="./public/views/houses.html?house=Hufflepuff">
                    <img src="./public/img/HUFFLE-removebg-preview.png" alt="Hufflepuff" />
                </a> 
                <a href="./public/views/houses.html?house=Ravenclaw">
                    <img src="./public/img/reven-removebg-preview.png" alt="Ravenclaw" />
                </a>             
            </div>        
            </main>
            <footer class=" b-gradient d-flex flex-row align-items-center justify-content-between col-12">
                <div class="col-3">
                    <img src="./public/img/logoFoter-removebg-preview.png" class="col-6" alt="...">
                </div>
                <div>
                    <p class="text-light m-0 px-3">Create By: </p>
                </div>
            </footer>
       </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./src/js/index.js"></script>
</body>

</html>