header{
    min-width: 100%;
    min-height: 10vh;
}

main{
    max-width: 100%;
    min-height: 80vh;
}
footer{
    max-width: 100%;
    min-height: 10vh;
}

.branch{
    width: 75%;
    height: 10vh;
}

.b-gradient{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 40%);
}
.img-back{
    background-image: url("../img/MFxo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}

input::placeholder{
    color: white;
    text-align: center;
}
.bg-input-search{
    background: rgb(0,74,173);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 40%);
    border-radius: 10px;
}

.cardtext-ov{
    width: 160px; 
    height: 50px;
    overflow: auto;
    color: gray;
}

.cardtext-ov::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

.cardSpell-s{
    height: 130px;
    width: 280px;
}

.spellstitle{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
