@font-face {
    font-family: 'HarryP';
    src: url('../styles/fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}





.body-characters {
  background-color: var(--color3);
}

.harryP {
    font-family: 'HarryP', sans-serif;
    text-shadow: 
      2px 2px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

body{
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: url("../img/cursor1.png"), auto;
}
button, a, input, select{
  cursor: url("../img/cursor1.png"), auto !important;
}
header {
  min-width: 100%;
  min-height: 10vh;
}

main {
  overflow: hidden;
  max-width: 100%;
  min-height: 80vh;
}
footer {
  max-width: 100%;
  min-height: 10vh;
}

.branch {
  width: 75%;
  height: 10vh;
}

.b-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 90%);
}


.modal-header {
    border-bottom: 1px solid #ddd; /* Línea de separación en la parte inferior del encabezado */
}

.modal-content {
    border-radius: 15px; /* Bordes redondeados para el contenido del modal */
    padding: 20px; /* Espaciado interno */
}



/* Estilo base de las tarjetas */
.card_1 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px; /* Opcional: para dar bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra base */
  
    
  }

  
  
  .card_1 .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    
  }
  
  /* Efecto de sobrealzado cuando se pasa el mouse */
  .card_1 .card:hover {
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba 10px */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25), 0 0 20px rgba(255, 255, 255, 0.5); /* Agrega sombra más grande y efecto de luz */
  }

.img-back{
    
    background-image: url("../img/MFxo.gif");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center
    
}
.img-back-card{
  background-image: url("../img/hogwarts-harry-potter-11461.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}



#var_search{
    background: var(--color1);
}

:root{
    --color1: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 40%);
    --color2: linear-gradient(90deg, rgba(0,74,173,0.989233193277311) 0%, rgba(93,224,230,1) 30%);
    --color3: rgba(44,44,44);
    
}

input::placeholder{
    color: black;
    text-align: center;
}

.bg-input-search{
    background: rgb(0,74,173);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 40%);
    border-radius: 10px;
}



.card-container-custom {
    height: 200px;
    width: 200px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.card-container-custom:hover {
    outline: 2px solid #ffa600;

}

.card-image-custom {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.card-body-custom {
    flex: 1;
    color: white;
    width: 100%;
    margin: auto;
    backdrop-filter: blur(.2px) brightness(.8);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 10px; 
    z-index: 2;
    height: 100%;
}

.card-title-custom {
    font-family: 'HarryP', sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 1.5ch;
}

.card-wrapper-text {
    height: auto;
    max-height: 100%;
}

.card-text-custom {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Mostrar hasta 4 líneas antes de truncar */
    text-overflow: ellipsis;
    word-break: break-word;
    margin: 0;
    height: auto; /* Dejar que la altura sea automática */
}

.cardtext-ov::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}


.b-selector {
    background: var(--color2);
}

.custom-modal {
    max-width: 80%;
}

.modal-body-scroll {
    max-height: 400px; 
    overflow-y: scroll;
    scrollbar-width: none; /* Para navegadores Firefox */
    -ms-overflow-style: none; /* Para navegadores Internet Explorer y Edge */
}

.modal-body-scroll::-webkit-scrollbar {
    display: none; /* Para navegadores basados en WebKit como Chrome y Safari */
}

#search-ch{
    background: var(--color2);
}

#search::placeholder{
    color: white;

}


.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    border: 1px solid #dee2e6;
    color: #007bff;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  
  
      
.img-back {
  background-image: url("../img/MFxo.gif");
  background-size: 100% 100%;
}



.h-card-cart{
  min-height: 150px;
}
.h-msg-error{
  height: 300px;
}


.img-slide-shop {
  height: 100px;
}
.body-slide-shop {
  height: 300px;
}
.rounded-card-shop {
  border-radius: 20%;
}
.bg-card-shop {
  background-color: rgba(202, 232, 255, 0.5);
}
.search-input {
  border-radius: 15px;
  height: 47px;
}

.search-input::placeholder {
  color: rgb(1, 1, 58);
}
.bg-input-search {
  background: rgb(0, 74, 173);
  background: linear-gradient(
    90deg,
    rgba(0, 74, 173, 0.989233193277311) 0%,
    rgba(93, 224, 230, 1) 30%
  ) !important;
}
.cont-animation{
  position: absolute;
  right: -300px;
  transform: translateX(100%);
  animation: slideIn 1s forwards ease;
 
}
.min-h-card{
  min-height: 100px;
}
.hover-card-shop:hover{
  background-image: url("../img/gifRayo2.gif");
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25), 0 0 20px rgba(255, 255, 255, 0.5)
}
@keyframes slideIn {
  from {
      right: -300px;
  }
  to {
      right: 45.3%;
  }
}



.h-card-detail{
  height: 400px;
}
.h-detail-img{
  height: 150px;
}
.detail-product-scroll{
  height: 200px;
  overflow-y: auto;
}

.detail-product-scroll::-webkit-scrollbar {
  width: 0%;
}


.h-card-buy{
  height: 315px;
}
.h-product-buy{
  height: 9vh;
}
.buy-scroll{
  max-height: 100px;
  overflow-y: auto;
}


.h-cointeiner-detail{
  height: 31vh;

}
.h-p-detail{
  height: 36%;
  overflow-y: auto
}

.animacion-carga{
  width: 100%;
  height: 100%;
  animation: loading 4s forwards ease  
}
@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.size-canvas-stats{
  height: 400px !important;
  width: 90% !important;
}







@media (min-width: 720px) {
  .text-big{
      font-size: 400%;
  }
  .size-canvas-stats{
    font-size: medium;
    height: 400px !important;
    width: 40% !important;
  }
  
  .card_1 .card {
    
    max-height: 400px;
    min-width: 200px;
  }

  .modal-char{
    min-width: 599px;  
    max-width: 600px;
  }
  .btn-modal-ch{
    translate: 250px;
    position: absolute;
  }
}



@media (max-width: 719px) {
  .pagination-nav {

    flex-direction: column; /* Cambia la dirección en pantallas pequeñas */
    justify-content: center;
    align-items: center; /* Centra los elementos verticalmente */
  }

  .text-modal-ch{
    padding-left: 37%;
  }

  .btn-modal-ch{
    margin-left: auto;
    
  }

  

  .pagination {
    justify-content: center; /* Centra la paginación */
  }

  .page-item {
    margin: 3px; /* Reduce el margen en pantallas pequeñas */
  }

  .text-big{
      font-size: 300%;
  }

  #p_description{
      overflow-y: auto;
      height: 250px;
      
  }
  
}

@media (max-width: 992px) {
  @keyframes slideIn {
    from {
        right: -300px;
    }
    to {

        right: 96%;
    }
  }
  
}
.etitle{
    display: flex;
    justify-content: space-around;
}

.etitle img{
    width: 68vh;
    height: 29vh;
}

.ehome p{
    color: white;
    font-size: 1.3rem;
    margin: 2rem;
}

.linkhouses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkhouses img{
    width: 36vh;
    height: 25vh;
    object-fit: contain;
}

.hotitle{
    padding: 3rem;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ecards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ecards img{
    object-fit: unset;
}

.tamcard{
    margin: 1rem;
}

.search-input::placeholder{
    color: white;
}
.bg-input-search{
    background: rgb(0,74,173);
    background: linear-gradient(90deg, rgba(0,74,173,0.989233193277311) 0%, rgba(93,224,230,1) 30%);
}

.titlehouses img{
    width: 50vh;
}

.bg-card-shop{
    background-color: rgba(202, 232, 255, 0.5);;
}

.card_houses {
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.card_houses:hover {
    transform: scale(1.1);
}

.card_houses:hover .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.modal-custom {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000088;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
}
.modal-dialog-custom {
  width: 300px;
  min-height: 50vh;
  background-image: url('../img/pngwing.com.png');
  backdrop-filter: blur(.2px) brightness(.8);
  background-size:auto; /* Ajusta la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center;
  object-fit: cover;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title{
  font-size: 35px;
}

